<br />
<% post.comments.forEach((comment, index){ %>
     <p><a href="<%= comment.website%>"><%= comment.name %></a>
     <span class="info">回复于 <%= comment.time %></span></p>
    <p><%- comment.content %></p>
<% }) %>

<form action="" method="post">
    <% if(user) { %>
        姓名：<input type="text" name="name" value="<%= user.name%>"><br/>
        邮箱：<input type="text" name="email" value="<%= user.email%>"><br/>
        网站：<input type="text" name="website" value="<%= user.website%>"><br/>
    <% } else { %>
        姓名：<input type="text" name="name"><br/>
        邮箱：<input type="text" name="email"><br/>
        网站：<input type="text" name="website"><br/>
    <% } %>
    <textarea name="content" rows="5" cols="80"></textarea><br />
    <input type="submit" value="留言" />
</form>