<!DOCTYPE html>
<html>
<head>
    <title>myBlog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<header>
    <h1><%= title %></h1>
</header>

<nav>
    <span><a href="/">home</a></span>
    <% if(user) {%>
        <span><a href="/upload">上传</a></span>
        <span><a href="/post">发表</a></span>
        <span><a href="/logout">退出</a></span>
    <%} else {%>
        <span><a href="/login">登录</a></span>
        <span><a href="/register">注册</a></span>
    <%}%>
</nav>

<artifcle>

<% if(success) { %>
    <div><%= success %></div>
<% }%>
<% if(error) {%>
    <div><%= error%></div>
<%}%>


